body {
    background-image: url({{ url_for('static', filename='image/home.jpg') }}) /* Relative to the CSS file */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image covers the entire background */
}

h1 {
    font-style: italic;
    color: brown;
    margin-top: 200px;
}

p {
    font-family: cursive;
    font-weight: 900;
    color: rgb(6, 11, 154);
    font-size: 2em;
}
